@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100&display=swap');

@mixin border-product($color) {
    border: 4px solid $color;
    background: linear-gradient( 135deg, $color 0 34px, transparent 0) top left / 50% 50%;
    background-color: #fff;
    background-origin: border-box;
    background-repeat: no-repeat;
    -webkit-mask:
        linear-gradient(45deg, transparent 0 0,#fff 0) bottom left,
        linear-gradient(-45deg, transparent 0 0,#fff 0) bottom right,
        linear-gradient(135deg, transparent 0 30px,#fff 0) top left,
        linear-gradient(-135deg, transparent 0 0,#fff 0) top right;
    -webkit-mask-size: 50.5% 50.5%;
    -webkit-mask-repeat: no-repeat;

    .product__weight {
        background-color: $color;
    }
}

body {
    background: #000 url(../images/bg-pattern.png) repeat-y center;
    background-size: 100%;
    color: #fff;
    font-family: 'Trebuchet MS', sans-serif;
    line-height: 1.2;
    font-size: 16px;
    position: relative;
    &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(#000, .5);
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 5e-05) 49.88%, rgba(0, 0, 0, 0.5) 100%);
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Exo 2';
    font-weight: 300;
}

h1, h2 {
    font-size: 36px;
    margin-bottom: 25px;
}

.container {
    width: 100%;
    max-width: 1150px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
}

.text-center {
    text-align: center;
}

.zero-mb {
    margin-bottom: 0 !important
}

.is-style-link {
    color: #1698D9;
    display: inline-block;
    font-weight: 700;
    border: none;
    background: none;
    padding: 0;
    margin-left: 5px;
    cursor: pointer;
    transition: .3s;
    position: relative;
    &:hover {
        color: darken(#1698D9, 5%);
    }
    &:active {
        border-color: transparent;
    }
    &:before {
        content: "";
        left: 0;
        right: 5px;
        position: absolute;
        top: 100%;
        border-bottom: 1px dashed #1698D9;
    }
}

/*
    Products
*/

.products {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    &__centering {
        padding: 30px 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    &__box {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100%;
        width: 100%;
    }
    &__list {
        display: flex;
        justify-content: center;
        margin-left: -80px;
        flex-wrap: wrap;
    }
}

.product {
    width: 320px;
    margin-left: 80px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    &:hover .product__select a {
        color: #2EA8E6;
        border-color: #2EA8E6;
    }
    &__wrap {
        border-radius:12px;
        min-height: 480px;
        flex: 1;
        color: #000;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        width: 100%;
        padding-bottom: 265px;
        @include border-product(#1698D9);
        &:hover {
            @include border-product(#2EA8E6);
        }
    }

    &__info {
        padding: 20px 45px 0;
    }

    &__bottom {
        position: absolute;
        height: 265px;
        width: 100%;
        bottom: 0;
        left: -0;
        right: 0;
    }

    &__image {
        width: 100%;
        max-width: 320px;
        border: 1px solid transparent;
        position: relative;
        bottom: -4px;
        left: -4px;
    }

    &__select {
        text-align: center;
        margin-top: 15px;
        font-size: 13px;
        line-height: 1;
    }

    &__info {
        position: relative;
        z-index: 2;
    }

    &__slogon {
        color: #666;
        line-height: 1;
        margin-bottom: 5px;
    }

    &__title {
        font-family: 'Trebuchet MS';
        b {
            font-size: 48px;
            font-weight: 700;
            display: block;
            line-height: 1.1;
        }
        span {
            font-size: 24px;
            font-weight: 700;
        }
    }

    &__bonus {
        margin-top: 15px;
        line-height: 1.1;
        color: #666;
        font-size: 14px;
        span {
            display: block;
        }
    }

    &__weight {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        line-height: 1.1;
        position: absolute;
        bottom: 11px;
        right: 11px;
        text-transform: uppercase;
        z-index: 2;
        b {
            letter-spacing: -2px;
            display: block;
            font-size: 42px;
            font-weight: 400;
        }
    }
}

.product.is-selected {
    .product__wrap {
        @include border-product(#D91667);
        &:hover {
            @include border-product(#E52E7A);
            .product__slogon {
                color: #D91667;
            }
        }
    }
}

.product.is-hover-disabled {
    .product__select button {
        color: #1698D9;
        border-color: #1698D9;
    }
    .product__wrap {
        &:hover {
            @include border-product(#1698D9);
            .product__slogon {
                color: #666;
            }
        }
    }
}
.product.is-selected.is-hover-disabled {
    .product__wrap {
        &:hover {
            @include border-product(#D91667);
            .product__slogon {
                color: #666;
            }
        }
    }
}

.product.is-disabled,
.product.is-selected.is-disabled,
.product.is-selected.is-disabled.is-hover-disabled,
.product.is-disabled.is-hover-disabled {
    .product__wrap {
        cursor: default;
        @include border-product(#B3B3B3);
    }
    .product__select {
        color: #FFFF66;
    }
    .product__title span,
    .product__title b,
    .product__slogon,
    .product__bonus {
        color: #B3B3B3;
    }
    .product__slogon {
        color: #B3B3B3 !important;
    }
    .product__image {
        opacity: .5;
    }
}

@media(max-width: 400px) {
    .product {
        width: 280px;
        &__wrap {
            padding: 20px 30px;
        }
    }
}